.post {
  background: var(--gray-800);
  border-radius: 8px;
  padding: 2rem;
}

/* Aplica a estilização apenas para se tiver um post antes do post */
.post + .post {
  margin-top: 2rem;
}

.content {
  line-height: 1.6;
  color: var(--gray-300);
  margin-top: 1.5rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
}

.content a:hover {
  color: var(--green-900)
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post > header time {
  font-size: 0.875rem;
  color:  var(--gray-400);
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo {
  display: flex;
  flex-direction:  column;
}

.authorInfo strong {
  color: var(--gray-100);
  line-height: 1.6;
}

.authorInfo span {
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 1.6;
}

.comentForm {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--gray-600)
}

.comentForm footer {
  visibility: hidden;
  max-height: 0;
  
}

/* se ouver um focu em qualquer elemento dentro do comentForm */
.comentForm:focus-within footer {
  visibility: visible;
  max-height: none;
}

.comentForm > strong {
  line-height: 1.6;
  color: var(gray-100);
}

.comentForm textarea {
  width: 100%;
  background: var(--gray-900);
  border: none;
  resize: none;
  height: 6rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(gray-100);
  line-height:  1.4;
  margin-top: 1rem;
}

.comentForm button[type=submit] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: none;
  background: var(--green-500);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;

  transition: background-color 0.3s;
}

.comentForm button[type=submit]:hover {
  background: var(--green-900);

}

.contentList {
  margin-top: 2rem;
}
